body {
  background-color: #def;;
}

#wrapper {
  width:800px;
  background-color: #def;
  position:relative;
  left:50%;
  margin-left:-400px;
  -moz-border-radius: 10px;
  padding:5px;
}

#gallery-wrapper {
  position: relative;
  width:780px;
  moz-border-radius: 10px;
  margin:5px;
  padding:5px;
}

/* need to fix text-align center for a better method! */
#thumb-wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.overflow-wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.position img {
  position: relative;
}
/*
h1 {
  font-family: "Arial", "Verdana", Sans-serif;
  text-align: center;
  font-size: 6em;
}
*/

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 6em;
  line-height: 1em;
  text-align: center;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  color:black ;
}

.inset-text {
  /* Shadows are visible under slightly transparent text color */
  color: rgba(10,60,150, 0.8);
  text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}

.pgraph {
  font-family: "Arial", "Verdana", Sans-serif;
  text-align: center;
}

img {
  width: auto;
  height: auto;
  padding: 10px;

}

.circular {
  border-radius: 50%;
  transition: opacity 2s ease;
}

.circular:hover {
  opacity: 0.2;
}



img.blur{
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -o-transition: all 3s ease;
  -ms-transition: all 3s ease;
  transition: all 3s ease;
}

img.blur:hover {
  -webkit-filter: blur(15px);
}

.bw {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.bw:hover {
  -webkit-filter: greyscale(100%);
}

/* //////////////////////////////////////////////////////////////// */





/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }


