body {
  background-color: #def;;
}

#wrapper {
  width:800px;
  background-color: #def;;
  position:relative;
  left:50%;
  margin-left:-400px;
  -moz-border-radius: 10px;
  padding:5px;
}

#gallery-wrapper {
  position: relative;
  width:780px;
  -moz-border-radius: 10px;
  margin:5px;
  padding:5px;
}

/* need to fix text-align center for a better method! */
#thumb-wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*
h1 {
  font-family: "Arial", "Verdana", Sans-serif;
  text-align: center;
  font-size: 6em;
}
*/

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 6em;
  line-height: 1em;
  text-align: center;
}

.inset-text {
  /* Shadows are visible under slightly transparent text color */
  color: rgba(10,60,150, 0.8);
  text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}

.pgraph {
  font-family: "Arial", "Verdana", Sans-serif;
  text-align: center;
}


img {
  width: auto;
  height: auto;
  padding: 10px;
}

.circular {
  border-radius: 50%;
  transition: opacity 1s linear;
}

.circular:hover {
  opacity: 0;
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }


