body {
  background-color: white;
}

#wrapper {
  width:800px;
  background-color:white;
  position:relative;
  left:50%;
  margin-left:-400px;
  -moz-border-radius: 10px;
  padding:5px;
}

#gallery-wrapper {
  position: relative;
  width:780px;
  -moz-border-radius: 10px;
  margin:5px;
  padding:5px;
}

/* need to fix text-align center for a better method! */
#thumb-wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Arial", "Verdana", Sans-serif;
  text-align: center;
  font-size: 6em;
}

.pgraph {
  font-family: "Arial", "Verdana", Sans-serif;
  text-align: center;
}


img {
  width: auto;
  height: auto;
  padding: 10px;
}

.circular {
  border-radius: 50%;
}


